.ui.footer.segment {
  margin: 5em 0 0;
  padding: 2em 0;
}

.app-logo-large {
  animation: app-logo-spin infinite 60s linear;
  height: 160px;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-content {
  margin-top: 3em;
}
