{
  "extends": ["airbnb", "react-app", "prettier"],
  "plugins": ["import", "flowtype", "jsx-a11y", "react"],
  "rules": {
    "class-methods-use-this": "off",
    "comma-dangle": ["error", "never"],
    "semi": ["error", "never"],
    "no-mixed-operators": "off",
    "no-param-reassign": ["error", { "props": false }],
    "no-underscore-dangle": "off",
    "flowtype/semi": ["error", "never"],
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": [
      "error",
      { "ignorePureComponents": true }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.test.js",
          "src/test/helper.js",
          "**/stories/**/*.js"
        ]
      }
    ],
    "react/require-default-props": "off"
  }
}
